
table {
  height: 100%;
  width: 100%;
  border: 1px;
  text-align: left;
  margin: 0em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  border-collapse: collapse;
}

th {
  font-size: 1.0em;
  padding:0;
}
td {
  font-size: 0.9em;
  padding: 0;
}

body {
  background: rgb(198, 221, 146);
  color: black;
}

textarea {
	width: 95%;
  height: 95%;
  background: rgb(198, 221, 146);
  color: black;
  border: 1px solid black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

p {
  font-size: 16px;
  padding: 0px;
  text-indent: 30px;
  display: block;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
}
.nav { grid-area: nav; }
.topbar { grid-area: topbar; }
.lefttoparea { grid-area: lefttoparea; }
.leftmidarea { grid-area: leftmidarea; }
.leftbottomarea { grid-area: leftbottomarea; }
.rightarea {
  grid-area: rightarea;
  white-space: pre-wrap;
}
.bottombar {
  grid-area: bottombar;
  white-space: pre-wrap;
}
.keys { grid-area: keys; }

.grid-container {
  display: grid;
  grid-template-areas:
    'nav topbar topbar topbar'
    'nav lefttoparea rightarea rightarea'
    'nav leftmidarea rightarea rightarea'
    'nav leftbottomarea rightarea rightarea'
    'nav bottombar bottombar bottombar'
    'nav keys keys keys';
  grid-template-columns: 100px 1fr 1fr 1fr;
  grid-gap: 0px;
  background-color: rgba(122, 173, 221, 0.8);
  padding: 0px;
  margin: 10px 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
  text-align: left;
  margin: 1px 1px;
  padding: 5px 5px;
}

.topbar .topbar {
  grid-template-columns: 1fr 1fr;
}
.d{
  grid-column: col 1 / span 1;
  grid-row: row 1;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}
.e {
  grid-column: 1;
  grid-row: 1;
}
.f {
  grid-column: 2;
  grid-row: 1;
}