
table {
  height: 100%;
  width: 100%;
  border: 1px;
  text-align: left;
  margin: 0em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  border-collapse: collapse;
}

th {
  font-size: 1.0em;
  padding:0;
}
td {
  font-size: 0.9em;
  padding: 0;
}

body {
  background: rgb(198, 221, 146);
  color: black;
}

textarea {
	width: 95%;
  height: 95%;
  background: rgb(198, 221, 146);
  color: black;
  border: 1px solid black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

p {
  font-size: 16px;
}
.nav { grid-area: nav; }
.topic { grid-area: topbar; }
.keywords { grid-area: leftareatop; }
.questions { grid-area: leftareamid; }
.comments { grid-area: leftareabottom; }
.notes {
  grid-area: rightarea;
  white-space: pre-wrap;
}
.summary {
  grid-area: bottombar;
  white-space: pre-wrap;
}
.keys { grid-area: keys; }

.grid-container {
  display: grid;
  grid-template-areas:
    'nav topbar topbar topbar'
    'nav leftareatop rightarea rightarea'
    'nav leftareamid rightarea rightarea'
    'nav leftareabottom rightarea rightarea'
    'nav bottombar bottombar bottombar'
    'nav keys keys keys';
  grid-template-columns: 100px 1fr 1fr 1fr;
  grid-gap: 0px;
  background-color: rgba(122, 173, 221, 0.8);
  padding: 0px;
  margin: 10px 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
  text-align: left;
  margin: 1px 1px;
  padding: 5px 5px;
}