body {
  background: white;
  color: black;
  overscroll-behavior: contain;
  font-size: 100%;
}

.selcls {
  font-size: 0.7em;
  text-indent: 3px;
  width: 100%;
  padding: 3px; 
  border: solid 1px #517B97; 
  outline: none; 
  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #CAD9E3), to(#FFFFFF));  
}
textarea {
  font-family: "handwriting", cursive, sans-serif;
}
input, button, p, a, select {
  font-family: "handwriting", cursive, sans-serif;
}

input, textarea {
  width: 80%;
  box-sizing: border-box;
  background : content-box radial-gradient(white, #CAD9E3);
}
button {
  width: 80%;
  box-sizing: border-box;
  border: 2px dotted;
}
p.small {
  line-height: 0.8;
}
p.big {
  line-height: 1.8;
}
p, a {
  font-size: 0.7em;
  padding: 0px 0px;
  text-indent: 1px;
  display: block grid;
}
div {
  display: block;
}