doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='grid-container')
      div(class="nav")
        ul(style='list-style-type:none')
          li
            div.form-group
              <div class="form-row">
                <div class="col">
                  select#subject.form-control(type='select', placeholder='Select subject' name='subject' required='true', class="form-control form-control-sm" onchange="ChangeSubject(this);")
                    - subject_list.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
                    for subject in subject_list
                      if subject_id
                        option(value=subject._id selected=(subject._id.toString()===subject_id.toString() ? 'selected' : false) ) #{subject.title}
                      else
                        option(value=subject._id) #{subject.title}
                  script.
                    function ChangeSubject(select) {
                      var subject_id = select.options[select.selectedIndex].value;
                      var subject = select.options[select.selectedIndex].text;
                      window.location.href = '/repo/' + subject_id + '/notes';
                    }
                </div>
          li
            a(href='/repo/' + subject_id + '/notes') Notes
          li
            hr
          li
            a(href='/repo/' + subject_id + '/note/create') Add Note
      block content
