extends layout

block content
  <div class='topbar'>
    form(method='POST' action='')
      div.form-group
        <div class="form-row">
          <div class="col">
            label(for='date' class="col-sm-2 col-form-label") Date:
          </div>
          <div class="col">
            input#date.form-control(type='date', placeholder='Date' name='date' required='true' class="form-control form-control-sm" value=(undefined===note ? '' : note.date_yyyy_mm_dd) )
          </div>
        </div>
      div.form-group
        input#topic.form-control(type='text', placeholder='Topic' name='topic' required='true' class="form-control form-control-sm" value=(undefined===note ? '' : note.topic) )
  </div>
  <div class='lefttoparea'>
    h5 keywords
    input#topic.form-control(type='text', placeholder='Keyword' name='keyword' required='false' class="form-control form-control-sm" value=(undefined===note ? '' : keyword) )
  </div>
  <div class='leftmidarea'>
    h5 questions
    input#topic.form-control(type='text', placeholder='Question' name='question' required='false' class="form-control form-control-sm" value=(undefined===note ? '' : question) )
  </div>
  <div class='leftbottomarea'>
    h5 comments
    input#topic.form-control(type='text', placeholder='Comment' name='comment' required='false' class="form-control form-control-sm" value=(undefined===note ? '' : comment) )
  </div>
  div.rightarea
    div.form-group
      textarea#lectureNote.form-control(type='textarea', placeholder='Lecture Notes' name='lectureNote' required='true' rows='20' class="form-control form-control-sm") #{undefined===note ? '' : note.lectureNote}
  div.bottombar
    div.form-group
      textarea#summary.form-control(type='textarea', placeholder='Summary' name='summary' required='true' class="form-control form-control-sm") #{undefined===note ? '' : note.summary}
  .keys
    button.btn.btn-primary(type='submit') Save

  if errors
    ul
      for error in errors
        li!= error.msg