extends layout

block content
  div.topbar
    h6 #{title}: #{note.topic} Last Updated: #{note.date_formatted}

    p Do you really want to delete this Note?

    form(method='POST' action='')
      div.form-group
        input#noteid.form-control(type='hidden',name='noteid', required='true', value=note._id )

      button.btn.btn-primary(type='submit') Delete