extends layout

block content
  div.topbar
    table
      each subject in subject_list
        tr
          td
            a(href=subject.url) #{subject.title}
      else
        li There are no subjects.